# Set DEBUG to False in Production
DEBUG=True

# Generate a cryptographically strong key here
SECRET_KEY= shhh its secret!

# URL string to Postgres DB
DATABASE_URL=postgres://user:password@host:port/db
